post/windows/gather/hashdump
post/windows/gather/cachedump
post/windows/gather/smart_hashdump
post/windows/gather/enum_tokens
post/windows/gather/enum_domain
post/windows/gather/enum_domain_group_users
post/windows/gather/enum_domain_tokens
post/windows/gather/enum_hostfile
post/windows/gather/enum_ie
post/windows/gather/enum_logged_on_users
post/windows/gather/enum_ms_product_keys
post/windows/gather/credentials/vnc
post/windows/gather/credentials/windows_autologin
post/windows/gather/checkvm
post/windows/gather/enum_applications
post/windows/gather/enum_services
post/windows/gather/enum_shares
post/windows/gather/enum_snmp
post/windows/gather/enum_devices
post/windows/gather/enum_powershell_env
post/windows/wlan/wlan_profile
post/windows/gather/arp_scanner
post/windows/gather/credentials/gpp
post/windows/gather/credentials/tortoisesvn
post/windows/gather/credentials/winscp
post/windows/gather/dnscache_dump
post/windows/gather/enum_chrome
post/windows/gather/enum_firefox
post/windows/gather/enum_termserv
post/windows/gather/enum_unattend
post/linux/gather/hashdump
post/osx/gather/hashdump
post/linux/gather/enum_network
post/linux/gather/enum_system
post/linux/gather/enum_users_history
post/linux/gather/checkvm
post/osx/gather/enum_osx
post/linux/gather/enum_configs
post/linux/gather/enum_protections
post/linux/gather/enum_resourcers_history
post/multi/gather/env
post/multi/gather/gpg_creds
post/multi/gather/ssh_creds
post/multi/gather/firefox_creds
resource '/root/ATAT/ATAT_multi_post.rc'
