run post/windows/gather/arp_scanner
run post/windows/gather/cachedump
run post/windows/gather/checkvm
run post/windows/gather/credentials/gpp
run post/windows/gather/credentials/tortoisesvn
run post/windows/gather/credentials/winscp
run post/windows/gather/dnscache_dump
run post/windows/gather/enum_applications
run post/windows/gather/enum_chrome
run post/windows/gather/enum_ie
run post/windows/gather/enum_firefox
run post/windows/gather/enum_termserv
run post/windows/gather/enum_unattend
run post/windows/wlan/wlan_profile
run post/windows/gather/smart_hashdump
run post/linux/gather/enum_configs
run post/linux/gather/enum_network
run post/linux/gather/enum_protections
run post/linux/gather/enum_system
run post/linux/gather/enum_runrs_history
run post/linux/gather/checkvm
run post/linux/gather/hashdump
run post/multi/gather/env
run post/multi/gather/firefox_creds
run post/multi/gather/ssh_creds
